<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase"> Talent Definition</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Talent Definition</h3>
		<p> In the talent definition, role of the each and every employee is clearly defined with the stages. The skills of the each employee is clearly captured.</p>
<ol>
<li>Manage Roles</li>
<li>View Reporting Structure</li>
<li>Reports</li>
</ol>
<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/9910fc45-7632-4c19-96cb-689dc4944580.png"
			style="padding-left: 11px" width="820" height="405">
</div>
</div>