<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase"> Manage Roles</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Roles</h3>
		<p>Every employee need to be clearly known about their designation. It includes the role details, Skill set, critical success factors, KPO and KPI’s.</p>
		<h3>Role Details</h3>
		<p> <b>Step 1:</b> Navigate to the <b>Manage Roles> Role details.</b><br>
		    <b>Step 2:</b> Captures the role title, work experience, role need, responsibilities, role need and the preferred education details.<br>
		    <b>Step 3:</b> Select the organization unit type, role type, travel and the reports to details.<br>
		    <b>Step 4:</b> After entering the above details, click<b>”Continue”.</b><br><br>
		   <img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/8a5ba0a4-67b1-4e17-aa46-d8e0b0383560.png"
			style="padding-left: 11px" width="820" height="405"><br>
			<h3>Skill Set</h3>
			<b>Step 1:</b> Navigate to the <b>Role definition> Skill set.</b><br>
		    <b>Step 2:</b> The technical, functional and the behavioral competencies will be displayed.<br>
		    <b>Step 3:</b> In each of the competencies, the competency summaries will be displayed in that user need to select the applicable field and then the required skill level.<br>
		    <b>Step 4:</b> The required skill level includes the basic, intermediate and the advanced level.<br>
			<b>Step 5:</b> After entering the details, click<b>”Continue”.</b><br>
			<b>Step 6:</b> The created details will be listed below.<br><br>
			<h3>Critical Success Factor</h3>
			<b>Step 1:</b> Navigate to the <b>“Critical Success Factor”.</b><br>
		    <b>Step 2:</b> The user need to click <b> “Add new”</b> and enter the description there.<br>
		    <b>Step 3:</b> After entering the details, click<b>”Continue”.</b><br>
		</p>
    </div>
</div>