<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase"> View Reporting Structure</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>View Reporting Structure</h3>
		<p>In this module, the user can view their reporting managers or team lead effectively. It will be displayed based upon the reporting officers.</p>
		   <img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/105e44e4-2be1-49a1-95cd-ac19d2846eac.png"
			style="padding-left: 11px" width="820" height="405"><br>
		</p>
    </div>
</div>