<!-- <h3 class="block">Educational Details</h3>
 --> 							<div class="clearfix"></div>
 							<form role="form" id="employee_education_details_form">
													<div class="form-body">
														{%csrf_token%}

														<div class="col-md-12 ">
															<div class="col-md-6 ">
																<div class="form-group">
																	<label>University Name <span class="asterisk">*</span>
																	</label>
																	<div class="input-icon">
																		<i class="nf nf-university"></i> <input
																			class="form-control" placeholder="University Name"
																			id="university" name="university" type="text"
																			required data-error=".errorTxt25" maxlength="100"> <span
																			class="errorTxt25 errormessage"></span>
																	</div>
																</div>
															</div>

															<div class="col-md-6 ">
																<div class="form-group">
																	<label>Campus Name </label>
																	<div class="input-icon">
																		<i class="nf nf-university"></i> <input
																			class="form-control" placeholder="Campus Name"
																			id="institution_name" name="institution_name"
																			type="text" maxlength="100">
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-12 ">
															<div class="col-md-6 ">
																<div class="form-group">
																	<label>Course Name</label>
																	<div class="input-icon">
																		<i class="nf nf-university"></i> <input
																			class="form-control" placeholder="Course Name"
																			id="course_name" name="course_name" type="text" maxlength="100">
																	</div>
																</div>
															</div>

															<div class="col-md-3 ">
																<div class="form-group">
																	<label>Graduated Year <span class="asterisk">*</span>
																	</label>
																	<div class="input-icon">
																		<i class="nf nf-customer"></i> <input
																			class="form-control" placeholder="Graduated Year"
																			id="year_of_passed_out" name="year_of_passed_out"
																			type="text" required data-error=".errorTxt27" maxlength="4">
																		<span class="errorTxt27 errormessage"></span>
																	</div>
																</div>
															</div>
															<div class="col-md-3">
																	<div class="form-group">
																		<label>Duration (Months) 
																		</label>
																		<div class="input-icon">
																			<i class="nf nf-university"></i> <input class="form-control"
																				placeholder="Duration (Months)" id="duration" name="duration"
																				type="text" required data-error=".errorTxt26" maxlength="2"> <span
																				class="errorTxt26 errormessage"></span>
																		</div>
																	</div>
			 										 		</div>
														</div>
														<div class="col-md-12">
																	<div class="col-md-6">
																			<div class="form-group">
																				<label>Grade</label>
																				<div class="input-icon">
																					<i class="nf nf-grade"></i> <input class="form-control"
																						placeholder="Grade (Out of 10)" id="cgpa" name="cgpa" type="text"
																						data-error=".errorTxt15" maxlength="1"> <span
																						class="errorTxt15 errormessage"></span>
																				</div>
																			</div>
																	</div>
																	<div class="col-md-6">
																			<div class="form-group">
																				<label>Percentage/CGPA</label>
																				<div class="input-icon">
																					<i class="nf nf-percentage"></i> <input class="form-control"
																						placeholder="Percentage/CGPA" id="percentage" name="percentage"
																						data-error=".errorTxt16" maxlength="5"> <span
																						class="errorTxt16 errormessage"></span>
																				</div>																				
																			</div>
																	 </div>
																	 																											
														</div>	
														<div class="col-md-12 padding-0 margin-bottom-30">														
																<div class="form-group pull-right" align="right">
																	<div class="btn-padding">
																		<a href="javascript:;" title='Add'
																			id="education_details_create_button"
																			class="btn btn-success btn-animate edu_add"> 
																			Add</a> 
																		<a href="javascript:;" title='Update'
																			id="education_details_edit_button"
																			class="btn-primary btn-animate btn edu_update">
																			Update</a>
																		<a href="javascript:;" title='Remove'
																			id="education_details_delete_button"
																			class="btn-animate  btn btn-danger edu_update"> 
																			Remove</a>
																		<a href="javascript:;" title='Cancel / Clear'
																			id="education_details_cancel_button"
																			class="btn-warning btn-animate btn edu_clear"> 
																			Cancel/Clear</a>
																	</div>
																</div>
														</div>														
													</div>
											
											
											<div class="clearfix"></div>
											
																						
										<div class="col-md-12" id="education_table" style="display: none;padding:0 30px;">
												<div class="form-group">
												<h3>Employee Education Details</h3>
													<table
														class="table table-striped table-bordered table-hover"
														id="candidate_education_details">
													</table>																										
												</div>
										</div>
										
										<div class="clearfix"></div>
										<div class="form-group" align="right">
											<div class="btn-padding">											
												<button type="button" id="employee_education_details_edit_button" style="display:none"
													class="btn-primary btn-animate btn-eql-wid  btn">Update</button>
												<!-- Indicates a dangerous or potentially negative action -->
												<!-- <button type="button" id="employee_education_details_delete_button"
													class="btn btn-danger ">Remove</button> -->
												<button type="button" id="employee_education_details_cancel_button" style="display:none"
													class="btn-warning btn-animate btn-eql-wid  btn">Cancel / Clear</button>																													
											</div>
										</div>
								</form>