<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Access Management</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Access Management</h3>
		<p>The access management grants the authorised users the right to use a service, while preventing access to non-authorised users.<br>
		The below are the modules of the access management.
		</p>
		<ol>
		<li>Manage System User Roles</li>
		<li>Manage Permissions</li>
		<li>Associate Permissions</li>
		</ol>
	</div>
</div>