<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Data Management</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Data Management</h3>
		<p>This is a configuration module to set up the master data that would be used by the application. These values would appear in the drop down/select fields and serve as a purpose to define the data values and formats.</p>
		<p>
			<b>Step 1</b>: Navigate to the <b>Data management.</b><br>
			<b>Step 2</b>: The data upload screen will display. Select the module name from the drop down menu.<br>
			<b>Step 3</b>: Select the class name from the drop down and then upload the script files.<br>
			<b>Step 4</b>: After entering the above details, click <b>“Execute”</b>.<br>
			<b>Step 5</b>: To remove an incorrect data, click <b>”Cancel/Clear”.</b><br>
			<b>Step 6</b>: The data management screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/256f0bbc-a3d8-4913-b69f-b1f79f4708b7.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>