<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Introduction to AppAdmin</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>AppAdmin</h3>
		<p>The AppAdmin facilitates the data management, user, access management and also to manage the application data. Data management is a configuration module to set up the master data..</p>
		<p>
			<b>Step 1</b>: Navigate to the <b>Active Users</b>. It displays the number of active users.<br>
			<b>Step 2</b>: Navigate to the <b>Unique Roles</b>. It displays the number of unique roles.<br>
			<b>Step 3</b>: Navigate to the <b>Permissions</b>. It displays the number of permissions.<br>
			<b>Step 4</b>: Navigate to the <b>Modules</b>. It displays the number of modules.<br>
			<b>Step 5</b>: Navigate to the <b>Recent Logs</b>. It displays the recent logs with the details of the date and the file size.<br>
			<b>Step 6</b>: Navigate to the <b>Quick links</b>. It displays the quick links for the users.
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/99cd1cae-d2e9-4af1-9d6d-6e35863d71d4.png"
			style="padding-left: 11px" width="788" height="466">
	</div>
</div>