<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Users</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Users</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>User Management> User Registration.</b><br>
			<b>Step 2</b>: Captures the details of name, email, password, role and the group.<br>
			<b>Step 3</b>: After entering the above details, Click <b>”Add”.</b><br>
			<b>Step 4</b>: There is an option to update or remove the user details.<br>
			<b>Step 5</b>: The created details will be displayed in the tabular column.</b><br>
			<b>Step 6</b>: The manage users screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/04c3f4f4-e709-4341-9261-3ecdb01b29de.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>