<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage User Groups</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage User Groups</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>User Management> Manage User Groups.</b><br>
			<b>Step 2</b>: Captures the group name and click <b>“Add”</b> to add the details.<br>
			<b>Step 3</b>: To remove an incorrect details, click <b>“Cancel/clear”.</b><br>
			<b>Step 4</b>: The manage user groups screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/650327c0-1623-4ccc-88ab-c13f6aa19f5b.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>