<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Permissions</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Permissions</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Access Management> Manage Permissions.</b><br>
			<b>Step 2</b>: Select the module name, HTML name, permission name, permission code and the permission description.<br>
			<b>Step 3</b>: After entering the above details, Click <b>”Add”.</b><br>
			<b>Step 4</b>: There is an option to update or remove the module details.<br>
			<b>Step 5</b>: The created permission details will be displayed in the tabular column.</b><br>
			<b>Step 6</b>: The manage permissions screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/3cdfc704-5aab-49d7-ab4a-dc1fbaf70d32.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>