<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Reference Item Category</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Reference Item Category</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Manage application data> Reference item category.</b><br>
			<b>Step 2</b>: Captures the category name, code and the category description.<br>
			<b>Step 3</b>: After entering the above details, Click <b>”Add”.</b><br>
			<b>Step 4</b>: There is an option to update or remove the reference item category details.<br>
			<b>Step 5</b>: The created details will be displayed in the tabular column.</b><br>
			<b>Step 6</b>: The manage reference item category screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/4dadca71-a54a-4998-a42d-9a1b163f8548.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>