<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Application Data</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Application Data</h3>
		<p>In this module the reference item category and the reference items are managed. The below are sub modules of the managing application data.</p>
		<ul>
           <li>Manage Reference Item Category</li>
           <li>Manage Reference Item</li>
       </ul> 
	</div>
</div>