<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Attendance</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Attendance</h3>
		<p>This module allows viewing and managing the attendance details of the individual.<br><br>
		<b>Application Perspective from HR Department & normal User Login.</b><br>
			<b>Step 1</b>: Navigate to the <b>Manage Attendance</b><br>
			<b>Step 2</b>: Select the organization, employee from drop down menu and captures the checked in and checked out.<br>
			<b>Step 3</b>: After entering the details, click <b>“Add”.</b><br>
			<b>Step 4</b>: The manage attendance details will be listed.<br><br>
			<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/278da9b6-cdfd-4943-90c4-7b973cd773d2.png"
			style="padding-left: 11px" width="820" height="405">
		</p>
	</div>
</div>