<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase"> HRMS</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>HRMS</h3>
		<p> NEXT HRMS combines a number of systems and processes to ensure the easy management of a business' employees and data. Human Resources Software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes, benefits administration and keeping track of attendance records. It ensures everyday Human Resources processes are manageable and easy to access. .</p>
<ol>
<li>Organization Chart</li>
<li>Organization Unit</li>
<li>Employee Management</li>
<li>Leave Management</li>
<li>Attendance Management</li>
<li>Generate Reports</li>
</ol>
<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/d9561634-7434-435e-8c87-a99c54b50dd2.png"
			style="padding-left: 11px" width="820" height="405">
</div>
</div>