<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Leave</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Leave</h3>
		<p>The Employee leave can be requested and processed in the system. The HR admin and the user both have the access to the leave management functionality. This functional module also enables the management of company holiday details.<br>
		<ol>
		<li>Leave Request</li>
		<li>Process Leave Request</li>
		<li>Manage Leave Balance</li>
		<li>Manage Holiday List</li>
		</p>
	</div>
</div>