<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Holiday List</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Holiday List</h3>
		<p><b>Application Perspective from HR Department User Login.</b><br>
			<b>Step 1</b>: Navigate to the <b>Leave > Holiday list.</b><br>
			<b>Step 2</b>: Enter the holiday details with the holiday information and the date and click<b>”Add”.</b><br>
			<b>Step 3</b>: There is an option to update or remove the details.<br><br>
		<b>Application Perspective from HR Department User Login.</b><br>
			All employees of the logged in company can view the holiday list for their company.<br>
			<b>Step 1</b>: Navigate to the<b> Leave> Holiday list.</b><br>
			<b>Step 2</b>: The user can only able to view the holiday’s list.<br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/a6d94877-f887-42cf-82df-422932df0435.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>