<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Employees</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Manage Employees</h3>
		<p>In the employee’s page, the user can view their details and the HR can add, update or remove the employee details.<br><br>
		<b>Application Perspective from Normal Employee Login</b><br>
			<b>Step 1</b>: Navigate to the <b>Employees> Primary Information..</b><br>
			<b>Step 2</b>: The user has option to only view their information but cannot manage the data as the details are from the HR database. The Add/Update options as shown in the screenshots below will not be available for the normal employees.<br>
			<b>Step 3</b>: The user can view their own details and can also view the other employee details by clicking on the kanban view.<br><br>
		<b>Application Perspective from HR Department User Login</b><br>
			<b>Step 1</b>: Navigate to the <b>Employees> Primary Information.</b><br>
			<b>Step 2</b>: HR can add the new employee details, update and remove the details of an individual. Captures the employee demographic details.<br>
			<b>Step 3</b>: Select the company, department and the position of the employee appointed and also enter the matrix ID, date of joining and upload the image of an employee..<br>
		    <b>Step 4</b>: Navigate to the<b> Employees> Personal Information.</b><br>
			<b>Step 5</b>: HR can add the new employee personal details, update and remove the details of an individual.<br>
			<b>Step 6</b>: Navigate to the<b> Employees> HR Setting.</b><br>
			<b>Step 7</b>: HR can manage the following information of the employees: the confirmation date, resignation date, total work experience.<br>
			<b>Step 8</b>: Navigate to the<b> Employees> Skills.</b><br>
			<b>Step 9</b>: HR can add the new employee skill details, update and remove the following details of an individual: the skill name, experience and the rating.<br>
			<b>Step 10</b>: Navigate to the<b> Employees> Education Details.</b><br>
			<b>Step 11</b>: HR can able to add the new employee skill details, update and remove the education details of the individual employee.<br>
			<b>Step 12</b>: Navigate to the<b> Employees> Professional Experience.</b><br>
			<b>Step 13</b>: The HR can add, update or remove the professional details of an individual.<br>
			<b>Step 14</b>: Navigate to the<b> Employees> Certification.</b><br>
			<b>Step 15</b>: The HR can add, update or delete the certificate details of an individual employee.</b><br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/b786de6e-0402-4cbf-a9a5-463d8b2f86dc.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>