<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Organization chart</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Organization chart</h3>
		<p>Organization chart enables the user and the HR to view all employees in the team wise manner. In this who ever need to know the details of the team means they can be easily see the details displayed in the structure.
			<b>Step 1</b>: Navigate to the <b>Organization Chart.</b><br>
			<b>Step 2</b>: Both the user and the HR can view the organization structure.<br>
			<b>Step 3</b>: Click on each of the designation will display the team wise persons.<br>
			<b>Step 4</b>: The organization chart screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/59ccf6dc-2405-4dec-a7b7-02ba646afc3d.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>