<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Process Leave Request</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Process Leave Request</h3>
		<p><b>Application Perspective from HR Department User Login.</b><br>
			<b>Step 1</b>: Navigate to the <b>Leave> Process leave request.</b><br>
			<b>Step 2</b>: To approve the leave request, click on the check box and again click on process button.<br>
			<b>Step 3</b>: Rejection reasons are mandated while rejecting the leave request.<br>
			<b>Step 4</b>: The email notification for processing status will be sent across both to the HR department email and the leave requestor..<br>
		    <b>Step 5</b>: The process leave request screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/870a35a0-9d69-40ba-9897-8615ff9f9beb.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>