<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Leave Request</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Leave Request</h3>
		<p><b>Application Perspective from any users.</b><br>
			<b>Step 1</b>: Navigate to the <b>Leave> Leave Request.</b><br>
			<b>Step 2</b>: The leave request can be raised with details of leave type, tenure, and reason.<br>
			<b>Step 3</b>: After entering the details click<b> “Add”.</b><br>
			<b>Step 4</b>: If the permission is above 2 hours it would be noted as half a day leave.<br>
            <b>Step 5</b>: Email notification will be sent to both HR and leave requestor.<br>	
            <b>Step 6</b>: The raised leave request details will be displayed in the tabular column.<br>			
			<b>Step 6</b>: The leave request screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/96bf7d04-b534-46ed-b356-ab81d3cdfb8d.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>