<div id="page_name">
	{% if breadcrum_title == "Dashboard" %}
		<p>THCMS_Dashboard_DB001</p>
	<!-- App Admin Start -->
	{% elif breadcrum_title == "AppAdmin" %}
		<p>THCMS_AppAdmin_Dashboard_DB002</p>
	{% elif breadcrum_title == "DataManagement" %}
		<p>THCMS_AppAdmin_Upload_Data_F002_S0</p>
	{% elif breadcrum_title == "RefItemCat" %}
		<p>THCMS_AppAdmin_ManageReferenceItemCategory_F003_S0</p>
	{% elif breadcrum_title == "RefItem" %}
		<p>THCMS_AppAdmin_ManageReferenceItem_F004_S0</p>
	{% elif breadcrum_title == "RefItemLink" %}
		<p>THCMS_AppAdmin_ManageReferenceItemLink_F005_S0</p>
	{% elif breadcrum_title == "Users" %}
		<p>THCMS_AppAdmin_ManageUser_F006_S0</p>
	{% elif breadcrum_title == "UserGroups" %}
		<p>THCMS_AppAdmin_ManageUserGroups_F007_S0</p>
	{% elif breadcrum_title == "CMEntities" %}
		<p>THCMS_AppAdmin_ManageUser_F006_S0</p>
	{% elif breadcrum_title == "CMDataDictionary" %}
		<p>THCMS - Dashboard - DB001</p>
	{% elif breadcrum_title == "CMSchedules" %}
		<p>THCMS - Dashboard - DB001</p>
	{% elif breadcrum_title == "UserRoles" %}
		<p>THCMS_AppAdmin_ManageSystemUserRoles_F008_S0</p>
	{% elif breadcrum_title == "AccessControl" %}
		<p>THCMS_AppAdmin_AccessControl_F009_S0</p>
	{% elif breadcrum_title == "SysParam" %}
		<p>THCMS_AppAdmin_Alert_And_Notification_F011_S0</p>
	<!-- App Admin End -->
	<!-- Talent Management Start -->
	{% elif breadcrum_title == "TIDashboard" %}
		<p>THCMS_TalentDefinition_Dashboard_DB003</p>
	{% elif breadcrum_title == "TIRoleDef" %}
		<p>THCMS_TalentDefinition_ManageRoles_F011_S0</p>
	{% elif breadcrum_title == "TIRepStruct" %}
		<p>THCMS_TalentDefinition_ViewReportingStructure_F012_S0</p>
	{% elif breadcrum_title == "TIReports" %}
		<p>THCMS_TalentDefinition_Reports_F013_S0</p>
	{% elif breadcrum_title == "TMTalentProfiling" %}
		<p>THCMS_TalentProfiling_F014_S0</p>
	{% elif breadcrum_title == "TMCompetencyAssessment" %}
		<p>THCMS_CompetencyAssessment_F015_S0</p>
	{% elif breadcrum_title == "TMTalentMatrix" %}
		<p>THCMS_TalentMatrix_F016_S0</p>
	{% elif breadcrum_title == "TMManageAccolades" %}
		<p>THCMS_ManageAccolades_F017_S0</p>
	{% elif breadcrum_title == "TMMyTalentProfile" %}
		<p>THCMS_MyTalentProfile_F018_S0</p>
	<!-- Talent Management End -->
	<!-- Talent Assessment Start -->
	{% elif breadcrum_title == "TADashboard" %}
		<p>THCMS_TalentAssessment_UserDashboard_DB004</p>
	{% elif breadcrum_title == "TABalancedScorecard" %}
		<p>THCMS_TalentAssessment_BalancedScorecard_F014_S0</p>
	{% elif breadcrum_title == "TACascadeObj" %}
		<p>THCMS_TalentAssessment_CascadeObjectives_F015_S0</p>
	{% elif breadcrum_title == "TAAssessTemplates" %}
		<p>THCMS_TalentAssessment_ManageAssessmentTemplate_F016_S0</p>
	{% elif breadcrum_title == "TAAssessForm" %}
		<p>THCMS_TalentAssessment_ManageAssessmentForm_F017_S0</p>
	{% elif breadcrum_title == "TAScheduleAssess" %}
		<p>THCMS_TalentAssessment_Schedule_F018Assessment_F018_S0</p>
	{% elif breadcrum_title == "TAPerformAssess" %}
		<p>THCMS_TalentAssessment_PerformTalentAssessment_F019_S0</p>
	{% elif breadcrum_title == "TAReports" %}
		<p>THCMS_TalentAssessment_Reports_F020_S0</p>
	{% elif breadcrum_title == "TARatingScheme" %}
		<p>THCMS_TalentAssessment_CustomRatingScheme_F021_S0</p>
	<!-- Talent Assessment End -->
	<!-- HRMS Start -->
	{% elif breadcrum_title == "HRDashboard" %}
		<p>THCMS_HRFoundation_Dashboard_DB005</p>
	{% elif breadcrum_title == "HROrganizationChart" %}
		<p>THCMS_HRFoundation_Employee Hierarchical_F022_S0</p>
	{% elif breadcrum_title == "HROrganization" %}
		<p>THCMS_HRFoundation_Organization_F023_S0</p>
	{% elif breadcrum_title == "HROrganizationUnit" %}
		<p>THCMS_HRFoundation_OrganizationUnit_F024_S0</p>
	{% elif breadcrum_title == "HROrganizationUnitChart" %}
		<p>THCMS_HRFoundation_Organization_Hierarchical_F025_S0</p>
	{% elif breadcrum_title == "HROrganizationTeam" %}
		<p>THCMS_HRFoundation_DepartmentDetails_F026_S0</p>
	{% elif breadcrum_title == "HREmployee" %}
		<p>THCMS_HRFoundation_ManageEmployee_F027_S0</p>
	{% elif breadcrum_title == "HREmployeeDetails" %}
		<p>THCMS_HRFoundation_EmployeeDetails_F028_S0</p>
	{% elif breadcrum_title == "HREmployeeDocument" %}
		<p>THCMS_HRFoundation_EmployeeDocument_F029_S0</p>
	{% elif breadcrum_title == "HREmployeePastDocument" %}
		<p>THCMS_HRFoundation_EmployeePastDocumentt_F030_S0</p>
	{% elif breadcrum_title == "HREmployeeLeaveRequest" %}
		<p>THCMS_HRFoundation_RequestLeave_F031_S0</p>
	{% elif breadcrum_title == "HREmployeeLeaveProcess" %}
		<p>THCMS_HRFoundation_ProcessLeaveRequest_F032_S0</p>
	{% elif breadcrum_title == "HREmployeeMangageLeave" %}
		<p>THCMS_HRFoundation_LeaveBalance_F033_S0</p>
	{% elif breadcrum_title == "HREmployeeHoliday" %}
		<p>THCMS_HRFoundation_HolidayList_F034_S0</p>
	{% elif breadcrum_title == "HRAttendance" %}
		<p>THCMS_HRFoundation_ManageHRAttendance_F035_S0</p>
	{% elif breadcrum_title == "HRAttendancePastView" %}
		<p>THCMS_HRFoundation_AttendancePastView_F036_S0</p>
	{% elif breadcrum_title == "HRAttendanceView" %}
		<p>THCMS_HRFoundation_AttendanceView_F037_S0</p>
	{% elif breadcrum_title == "HRReports" %}
		<p>THCMS_HRFoundation_Reports_F038_S0</p>
	{% elif breadcrum_title == "HREmployeePayroll" %}
		<p>THCMS_HRFoundation_EmployeePayroll_F039_S0</p>
	<!-- HRMS End -->
	<!-- Workforce Administration Start -->
	{% elif breadcrum_title == "AssetManagement" %}
		<p>THCMS_AssetManagement_AssetList_F040_S0</p>
	{% elif breadcrum_title == "Shift & Scheduling" %}
		<p>THCMS_WorkForceAdminstration_WorkTimeManagement_F043_S0</p>
	{% elif breadcrum_title == "Attendance Configuration" %}
		<p>THCMS_WorkForceAdminstration_AttendanceConfiguration_F042_S0</p>
	<!-- Workforce Administration End -->
	<!-- Workforce Planning Start -->
	{% elif breadcrum_title == "WorkforcePlanning" %}
		<p>THCMS_WorkforcePlanning_Dashboard_DB006</p>
	{% elif breadcrum_title == "WFP_StrategyAnalysis" %}
		<p>THCMS_WorkforcePlanning_F044_S0</p>
	{% elif breadcrum_title == "WFP_StructureAnalysis" %}
		<p>THCMS_WorkforcePlanning_F045_S0</p>
	{% elif breadcrum_title == "WFP_SystemAnalysis" %}
		<p>THCMS_WorkforcePlanning_F046_S0</p>
	{% elif breadcrum_title == "WFP_WorkforceRequest" %}
		<p>THCMS_WorkforcePlanning_F047_S0</p>
	<!-- Workforce Planning End -->
	<!-- Talent Acquisition Start -->
	{% elif breadcrum_title == "TACandidate" %}
		<p>THCMS_TalentAcquisition_Branding_F051_S0</p>
	{% elif breadcrum_title == "TABranding" %}
		<p>THCMS_TalentAcquisition_Branding_F055_S0</p>
	{% elif breadcrum_title == "TAJobOpenings" %}
		<p>THCMS_TalentAcquisition_Job_Opening_F051_S0</p>
	{% elif breadcrum_title == "TAOfferManagement" %}
		<p>THCMS_TalentAcquisition_Offer_Management_F055_S0</p>
	{% elif breadcrum_title == "TAToolsTech" %}
		<p>THCMS_TalentAcquisition_ToolsTech_F051_S0</p>	
	{% elif breadcrum_title == "HRInterview" %}
		<p>THCMS_TalentAcquisition_Interview_F052_S0</p>		
	<!-- Talent Acquisition End -->
	<!-- Exit Management Start -->
	{% elif breadcrum_title == "EMRequest" %}
		<p>THCMS_ExitManagement_ExitRequestDetails_F0111_S0</p>
	{% elif breadcrum_title == "EMProcess" %}
		<p>THCMS_ExitManagement_ExitProcessDetails_F0112_S0</p>
	{% elif breadcrum_title == "EMCertificate" %}
		<p>THCMS_ExitManagement_ExitCertificationDetails_F0113_S0</p>
	{% elif breadcrum_title == "EMReport" %}
		<p>THCMS_ExitManagement_ExitReportDetails_F0114_S0</p>
	<!-- Exit Management End -->
	<!-- Succession Planning Management Start -->
	{% elif breadcrum_title == "SPIdentifyKeyRoles" %}
		<p>THCMS_SuccessionPlanning_IdentifyKeyRolesDetails_F01011_S0</p>
	{% elif breadcrum_title == "SPSuccessorsHierarchy" %}
		<p>THCMS_SuccessionPlanning_SuccessorsHierarchyDetails_F01011_S0</p>
	{% elif breadcrum_title == "SPPotentialSuccessors" %}
		<p>THCMS_SuccessionPlanning_PotentialSuccessorsDetails_F01011_S0</p>
	{% elif breadcrum_title == "SPTransferRequest" %}
		<p>THCMS_SuccessionPlanning_TransferRequestDetails_F01011_S0</p>
	{% elif breadcrum_title == "SPTransferProcess" %}
		<p>THCMS_SuccessionPlanning_TransferProcessDetails_F01012_S0</p>
	{% elif breadcrum_title == "SPPromotionRequest" %}
		<p>THCMS_SuccessionPlanning_PromotionRequestDetails_F01021_S0</p>
	{% elif breadcrum_title == "SPPromotionProcess" %}
		<p>THCMS_SuccessionPlanning_PromotionProcessDetails_F01022_S0</p>
	{% elif breadcrum_title == "SPDemotionRequest" %}
		<p>THCMS_SuccessionPlanning_DemotionRequestDetails_F01031_S0</p>
	{% elif breadcrum_title == "SPDemotionProcess" %}
		<p>THCMS_SuccessionPlanning_DemotionProcessDetails_F01032_S0</p>
	{% elif breadcrum_title == "SP_Report" %}
		<p>THCMS_SuccessionPlanning_SPReportDetails_F01032_S0</p>
	<!-- Succession Planning Management End -->
	{% endif %}
</div>
