<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase"> Workforce Planning</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Workforce Planning</h3>
		<p> Workforce planning is getting the right number of people with the right skills employed in the right place at the right time to deliver an organization’s short- and long-term objectives. It covers a diverse range of activities, such as succession planning, flexible working, job design, and many more. Whatever its precise form, workforce planning should be linked to strategic business goals and viewed as an important part of the strategic business planning process.
		</p><br>
<ol>
<li>Strategy Analysis</li>
<li>Structure Analysis</li>
<li>System Analysis</li>
</ol>
</div>
</div>