		<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Strategy Analysis Step 3</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Strategy Analysis Step 3</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Strategy analysis.</b><br>
			<b>Step 2</b>: Select the strategy and then click on <b>“show overall gap” </b>button.<br>
			<b>Step 3</b>: Captures the details of task summary, workforce and the role.<br>
			<b>Step 4</b>: Captures the details of role, existing resource count, resource need, and the resource gap.<br>
			<b>Step 5</b>: After entering the details, click <b>“Save”.</b><br>
			<b>Step 6</b>: Click on <b>“Go to mode selection”,</b> it shows the mode selection screen.<br>
			<b>Step 7</b>: Click on the <b>“View Consolidated Reports”.</b> It shows the consolidated reports of all 3 analysis reports.<br>
				<img alt="" class="deviceWidth"
			src="to be updated"
			style="padding-left: 11px" width="820" height="405"><br>
	</div>
</div>