		<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Structure Analysis Step 3</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Structure Analysis Step 3</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Structure analysis.</b><br>
			<b>Step 2</b>: Captures the details of the department, role, existing resource count, resource, gap and the total.<br>
			<b>Step 3</b>: Click on <b>“Go to mode selection”,</b> it shows the mode selection screen.<br>
			<b>Step 4</b>: Click on the <b>“View Consolidated Reports”.</b> It shows the consolidated reports of all 3 analysis reports.<br>
				<ol>
			<li><b>Role:</b> List of roles corresponding to the selected strategy.</li>
			<li><b>Existing Resource Count:</b> Number of existing resource under the particular role.</li>
			<li><b>Resource Need: </b> Resource needed for the specific role under a department or team.</li>
			<li><b>Gap:</b> Difference between the existing resource and needed resource under the particular role within a department or team.</li>
			<li><b>Total: </b>Total number of existing resource count, resource need and gap.</li>
			</ol>
		</p>
			<img alt="" class="deviceWidth"
			src="to be updated"
			style="padding-left: 11px" width="820" height="405"><br>
	</div>
</div>