		<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">System Analysis</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>System  Analysis</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>mode selection.</b><br>
			<b>Step 2</b>: Select the system  analysis.<br>
			<b>Step 3</b>: When the analysis type is chosen, the steps of the chosen type changes accordingly.<br>
			<b>Step 4</b>: Click on <b>“Go to mode selection”,</b> it shows the mode selection screen.<br>
			<b>Step 5</b>: Click on the <b>“View Consolidated Reports”.</b> It shows the consolidated reports of all 3 analysis reports.<br>
			<img alt="" class="deviceWidth"
			src="to be updated"
			style="padding-left: 11px" width="820" height="405"><br>
	</div>
</div>