<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Balance Scoreboard</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Balance Scoreboard</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Talent Assessment> Balance Scoreboard.</b><br>
			<b>Step 2</b>: The financial perspective, customer perspective, learning and growth, process perspective will be displayed.<br>
			<b>Step 3</b>: The linked objectives only displayed here. <br>
			<b>Step 4</b>: The user can only view the details and there is no edit option.<br>
			<b>Step 5</b>: The balance scoreboard screen displays below:
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/61414f4f-1f86-43f1-bd0a-baae175cec8c.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>