<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Cascade Objectives</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
		<h3>Cascade Objectives</h3>
		<p>
			<b>Step 1</b>: Select the date from the drop down.<br>
			<b>Step 2</b>: The details will be displayed with edit, zoom and the add options. Click on the respective icons to do the actions.<br>
			<b>Step 3</b>: Click on <b>“Add” </b>Icon.  The objective setting form will be opened. <br>
			<b>Step 4</b>: Captures the details of the objective driver, strategic objective, actions to achieve, tenure, budget and the expected outcome.<br>
			<b>Step 5</b>: Select the new or existing, objective type, role and the currency type.<br>
			<b>Step 6</b>: In the assigned role field, click on the right side symbol, the pop up will open.<br>
			<b>Step 7</b>: Select the options for single select or the multi select and the organization unit type. Click <b>“Save”.</b><br>
			<b>Step 8</b>: Click on <b>“Add KPI”.</b> Captures the details of summary, type, target type, rating schema.<br>
			<b>Step 9</b>: After entering the above details, click <b>“Add”.</b><br>
	        <h3>Linked Objective</h3>
			<b>Step 1</b>: Select the <b>strategic objectives.</b><br>
			<b>Step 2</b>: The user can link the objectives here. That will be viewed for the user in the balance score board menu.<br>
			<b>Step 3</b>: Click <b>“Add”</b> to add the above details.<br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/0e28d790-18a6-4a1c-ad36-1e1531341c51.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>