<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase"> Talent Assessment</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Talent Assessment</h3>
		<p> The Talent Assessment System in the organization is defined by four components that are interlinked to one another.<br>
		<b>People</b><br>
        This component describes the type of people that the organization recruits and trains for their specific roles as designed. The competency based approach would be followed in the case of hiring the right talent with core competencies as that of the organization and also in the case of enhancing existing and new talent according to business needs.<br>
		<b>Processes </b><br>
		A set of processes would be defined and documented for the execution of the NEXT HCM Strategies. The NEXT organizational structure would be more flat and a matrix based structure thereby enabling higher degree of interdependence between work teams.</br>
		<b>Knowledge</b><br>
		Communication policies for Information sharing internally and externally would be set according to the business need. Identifying Subject Matter Experts (SMEs) for core functional areas of the business would be performed by the competency mapping exercises and then the knowledge base of the SMEs needs to be transformed across teams for better knowledge sharing.<br>
		<b>Rewards</b><br>
		These are the major factors that could influence motivation amongst employees. The compensation and benefits policy of NEXT would be revamped in order to align with overall strategy and also ensuring that the same is known as one of the best in the industry.<br>
		</p>
<ol>
<li>Balance Scorecard</li>
<li>Cascade Objectives</li>
<li>Manage Assessment Templates</li>
<li>Manage Assessment Form</li>
<li>Schedule Assessment </li>
<li>Perform Talent Assessment</li>
<li>Reports</li>
<li>Manage Rating Schema</li>
</ol>
<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/41ea3943-e8ef-4f9d-ab78-dc05b16e2be8.png"
			style="padding-left: 11px" width="486" height="440">
</div>
</div>