	<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Rating Schema</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Manage Rating Schema</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Talent Assessment>Manage Rating Schema.</b><br>
			<b>Step 2</b>: Enter the name and click on <b>“+Rating”.</b><br>
			<b>Step 3</b>: Captures the rating name, and the value.<br>
			<b>Step 4</b>: After entering the details, click <b>“Add”.</b><br>
			<b>Step 5</b>: There is an option to update or remove the details.<br>
			<b>Step 6</b>: The manage rating schema screen displays below:<br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/9a1c374a-3a10-4602-b3e1-9da42874aa6c.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>