<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Manage Assessment Templates</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Manage Assessment Templates</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Talent Assessment>Assessment Template.</b><br>
			<b>Step 2</b>: Captures the details of the template name, and the code.<br>
			<b>Step 3</b>: Select the assessment category, and the role. <br>
			<b>Step 4</b>: Click on the <b>“Manage Role KPI”.</b><br>
			<b>Step 5</b>: Captures the details of KPI, description and the KPI target value. Click <b>“Add”.</b><br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/e3666f8d-d36b-41e5-97e5-bb0fbd1002d2.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>