<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Perform Talent Assessment</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Perform Talent Assessment</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Talent Assessment> Perform Talent assessment.</b><br>
			<b>Step 2</b>: In the Org unit field, click on right side button.<br>
			<b>Step 3</b>: The pop up will open and select the org unit type and the single type or the multi select. Click <b>“Save”.</b> <br>
			<b>Step 4</b>: In the employee field, click on right side button.<br>
			<b>Step 5</b>: The pop up will open and captures the first, last name and the identification number.<br>
			<b>Step 6</b>: Select the gender and then click <b>“Search”.</b><br>
			<b>Step 7</b>: The values will be displayed and select them and click <b>“Get check value”.</b><br>
			<b>Step 8</b>: In the role field, click on right side button.<br>
			<b>Step 9</b>: The pop up will open and captures the role name. Click <b>“Search”</b>.<br>
			<b>Step 10</b>: The values will be displayed and select them and click <b>“Get check value”.<br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/58826808-23bf-4613-af01-d54b6c3f197d.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>