	<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="icon-bubble "></i> <span
				class="caption-subject  bold uppercase">Reports</span>
		</div>
	</div>
	<a onclick="myFunction()" href="javascript:;"
		class="btn btn-icobtn btn-icon-only red DTS"> <i
		class="fa fa-print"></i>
	</a> <a href="javascript:;" class="btn btn-icon-only green animate_btn">
		<i class="fa fa-download"></i>
	</a>
	<div class="portlet-body">
	<h3>Reports</h3>
		<p>
			<b>Step 1</b>: Navigate to the <b>Talent Assessment> Reports.</b><br>
			<b>Step 2</b>: The reports for the selected details will be displayed.<br>
			<b>Step 3</b>: The report screen displays below:<br>
		</p>
		<img alt="" class="deviceWidth"
			src="https://gallery.mailchimp.com/c2bcc9605b2984cf4e8cc7dde/images/2499ea05-8028-4908-ba76-d29f0c30feb2.png"
			style="padding-left: 11px" width="820" height="405">
	</div>
</div>