{{#if chatheader}}
<div class="team-name">
        <h2>{{chatheader}}</h2>
     </div>
     <div class="group-chat-name">
        <span class="ct-name-list user_typing_name"></span>
        <p class="user_typing_context"></p>
     </div>
{{/if}}
