{% extends 'base.html' %} {% load base_tags %} {% load staticfiles %} {%block links %}
<link href="{% static '/ui/plugins/select2/css/select2.min.css' %}"
	rel="stylesheet" type="text/css" />
<link
	href="{% static '/ui/plugins/select2/css/select2-bootstrap.min.css' %}"
	rel="stylesheet" type="text/css" />
<link href="/static/dev/NTree/ui/css/default/NTree.css" rel="stylesheet"
	type="text/css" />
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet" type="text/css" />
<!-- dev css -->
<link href="{%  static '/dev/hrms_foundation/css/dev_custom.css'  %}"
	rel="stylesheet" type="text/css" />
 <link href="{% static '/dev/performance_management/dev/css/performance_management.css' %}" rel="stylesheet" type="text/css" />
	
{% endblock %}{% block content %} {% nav_tags breadcrum_title="PMCascadeObj" %}

<!-- CUSTOME CSS LINK END-> 

<!-- BODY CONTENT START-->
<!-- <script>
$("#loading").css("display","block");
</script> -->
<div id="menuOverlay" class="backgroundfix RS-data animated">
	<div class="page-container" id="maincontent">
		<div class="page-content-wrapper ">
			<div class="page-content " style="padding-bottom: 0;">
				<div class="container-fluid no-padding level-two">
					<div class="portlet light bordered datatable_view">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet team-tree">
									<div class="portlet-title no-border">
										<div class="caption">
											<span class="caption-subject bold uppercase ">Cascaded
												Objectives</span>
										</div>

									</div>
									<form role="form" id='cascading_objectives_tree_form'>
										{% csrf_token %}
										<div class="portlet-body ">
											<div class="row">
												<div class="col-md-2">
													<div class="form-group">
														<label> Organization<span class="required">*</span>
														</label> <select class="form-control select2" id="cascading_org"
															name="cascading_org" data-error=".errorTxt1"
															data-placeholder="Select Organization">
														 {% for i in organization_data %}
														 	{% if user_data.org_id == i.id %}
																<option value="{{i.id}}" selected>{{i.name}}</option>
															{% else %}
																<option value="{{i.id}}">{{i.name}}</option>
															{% endif %}	
														{% endfor %}
														</select> <span class="errorTxt1 errormessage" id="error_message"></span>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label> Organization Unit</label> <select
															class="form-control select2" id="cascading_org_unit"
															name="cascading_org_unit"
															data-placeholder="Select Organization Unit">
															<option value="0">--Select--</option>
														</select>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label> Division </label> <select
															class="form-control select2" id="cascading_division"
															name="cascading_division"
															data-placeholder="Select Division">
															<option value="0">--Select--</option>
														</select>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label> Year<span class="required">*</span>
														</label> <select class="form-control select2" id="cascading_year"
															name="cascading_year" data-error=".errorTxt2"
															data-placeholder="Select Year">
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2018</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
<option value="2024">2024</option>
<option value="2025">2025</option>

														</select> <span class="errorTxt2 errormessage" id="error_message"></span>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label> Quarter <span class="required">*</span></label> <select
															class="form-control select2" id="cascading_quarter"
															name="cascading_quarter" data-error=".errorTxt3"
															data-placeholder="Select Quarter">
															<option value="1">Quarter 1</option>
															<option value="2">Quarter 2</option>
															<option value="3">Quarter 3</option>
															<option value="4">Quarter 4</option>
														</select> <span class="errorTxt3 errormessage" id="error_message"></span>
													</div>
												</div>
											</div>

											<div id="objTree"></div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %} {% block scripts %}

<!-- CUSTOM JS LINK START -->
<!--  Link for css single select 2 -->
<script src="{% static 'ui/plugins/select2/js/select2.full.min.js' %}"
	type="text/javascript"></script>
<script src="{% static 'ui/plugins/select2/js/select2.min.js' %}"
	type="text/javascript"></script>
<script
	src="{% static 'ui/plugins/select2/js/components-select2.min.js' %}"
	type="text/javascript"></script>

<script src="/static/dev/NTree/dev/jquery-ui.js" type="text/javascript"></script>

<script src="/static/dev/NTree/dev/ntree_common.js"
	type="text/javascript"></script>
<script type="text/javascript"
	src="/static/dev/NTree/ui/plugins/jquery-validation/js/jquery.validate.min.js"></script>

<script
	src="/static/dev/performance_management/dev/cascading_objectives.js"
	type="text/javascript"></script>
<script>
        $(document).ready(function() {
        function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var baseUrl = "css";
                var a=state.element.text.toLowerCase()
                if(a!='--select--') {
                var $state = $(
                    '<span><img src="/static/dev/performance_management/dev/css/'+a+'.png"  class="quarter-icon" /> ' + state.text + '</span>'
                );
                }
                return $state;
            };
            $(".select2-icon").select2({
                templateResult: formatState
            });
        }); 
    </script>

{% endblock%}
<!-- CUSTOM JS LINK END -->

