<div id="logswitcher">
	<div class="logswitcher-toggle">
		<div data-toggle="tooltip" data-placement="bottom" title="Log Search"
			class="tooltips">
			<i class="logicon fa fa-user"></i>
		</div>
	</div>
	<div class="profile_log">
		<h1>
			<span>Activity Feeds</span>
		</h1>
		<div class="heading_icon">
			<label><input id="logSearch" name="logSearch"
				class="form-control input-inline" placeholder="Search Log"
				type="search"></label>
		</div>
		<div class='col-sm-12'>
			<div class="profile_log_item">
				<ul id='log_info_div'>
				</ul>
			</div>
		</div>
	</div>
</div>