
<!-- NEXT Culture Popup --> 
<div id="NEXT-Innovation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Innovation</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-lightbulb-o animated flash infinite" aria-hidden="true"></i>
			<h3> You continue to find new ways to improve things; you do not accept things as is just because they existed before and they work. </h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Honesty and Integrity Popup --> 
<div id="NEXT-honestyIntegrity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Honesty and Integrity</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-check-square-o animated bounce infinite" aria-hidden="true"></i>
			<h3> You admit and learn from your mistakes; you are candid to bring out your concerns that affect either you or your team or the organization; you understand that there can be other views and agree to disagree professionally; you would only say things about a colleague to others that you would say in his/her face. </h3>	  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Culture Popup --> 
<div id="NEXT-CustomerCentric" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Customer-Centirc</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-user animated zoomIn infinite" aria-hidden="true"></i>
			<h3> You understand we do not exist without our customers; you make every effort to understand their concerns; you make decisions only after thinking about the impact and the value-add to the customers; you always intend to create solutions that create amazement with our customers as well as our competitors. </h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Passion Popup --> 
<div id="NEXT-Passion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Passion</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-user animated pulse infinite" aria-hidden="true"></i>
			<h3>You really love what you do; you are honest about it otherwise.</h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Passion Popup --> 
<div id="NEXT-Leadership" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Leadership</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-users animated zoomIn zoomIn infinite" aria-hidden="true"></i>
			<h3>You always do the right things needed for the organization without waiting for instructions; at the same time you understand instructions are necessary in a successful organization.</h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Competence Popup --> 
<div id="NEXT-Competence" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT High Performance and Competence</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-bar-chart-o animated fadeIn infinite" aria-hidden="true"></i>
			<h3>You consistently raise the bar of performance to such a level that your colleagues are not only proud of you, but are also keen on learning from what you do.</h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Diversity Popup --> 
<div id="NEXT-Diversity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Diversity</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-connectdevelop animated rotateIn infinite" aria-hidden="true"></i>
			<h3>You are not only able to work with, but also appreciate people with different cultural backgrounds, irrespective of caste, creed or color.</h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Vision Popup --> 	
<div id="NEXT-Vision" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Vision</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-bullseye animated zoomIn infinite" aria-hidden="true"></i>
			<h3>Greater value & absolute quality with service excellence that's NEXT. </h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>
<!-- NEXT Mission Popup --> 	
<div id="NEXT-Mission" class="modal " tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title">NEXT Mission</h4>
	  </div>
	  <div class="modal-body">
		  <div class="next-culture">
		  	<i class="fa fa-rocket animated zoomOutUp infinite" aria-hidden="true"></i>
			<h3> Futuristic startegizing & time advanced execution with value & quality for customers.</h3>		  
		  </div>
	  </div>
	  <div class="modal-footer">
		<button class="btn btn-success btn-eql-wid btn-animate" class="close" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
  </div>
</div>