<div id="profile_grid" class="open" style="display:none;">
	<div class="profile_grid">
		<div data-toggle="tooltip" data-placement="bottom" title=""
			class="profile_grid_icon  icon2" id="usersearch_icon"
			data-original-title="Profile" style="right: 90px;"></div>
	</div>
	<div class="profile_grid_content1 profile_grid_wrap">
		<div class="profile_grid_content">
			<h1>
				Talent Profile <i
					class="nf nf-job-close-one pull-right switcher-close"></i>
			</h1>
			<div class="profile_item">
				<img src="https://192.168.10.60/media/user_profile/no_data.png"> <span
					class="name">John Thomas</span> <span class="position">Operational
					Manager</span>
			</div>
			<hr class="divide_line">
			<ul class="profile-ul">
				<li><span class="profile-li"><i class="fa fa-envelope-o"></i></span>john@gmail.com</li>
				<li><span class="profile-li"><i class="fa fa-phone"></i></span>
					+91 12545456</li>
				<li><span class="profile-li"><i class="fa fa-map-marker"></i></span>India</li>
			</ul>
			<hr class="divide_line">
			<h2>Job History :</h2>
			<ul class="profile-ul">
				<li><span class="profile-li"><i class="fa nf nf-manager"></i></span>
					<span class="headstyle"> Marketting Manager </span> 11/05/2018 to
					12/09/2019</li>
				<li><span class="profile-li"><i
						class="fa fa-graduation-cap"></i></span> <span class="headstyle">Accounting</span>
					4 Years</li>
				<li><span class="profile-li"><i class="fa fa-map-marker"></i></span>
					<span class="headstyle"> Certified Public Accountant </span> Notary
					Public</li>
				<li><span class="profile-li"><i class="nf nf-globe"></i></span>
					<span class="headstyle">English, Spanish</span></li>
				<li><span class="profile-li"><i class="nf nf-briefcase"></i></span>
					<span class="headstyle">Between 2 and 5 years</span></li>
				<li><span class="profile-li"><i class="fa fa-map-marker"></i></span>
					<span class="headstyle">Kansas City</span></li>
			</ul>
		</div>
	</div>
</div>
</div>
