{% extends 'base.html' %} {% load base_tags %} {% load staticfiles %}
<!-- css start -->
{% block links %}
<!-- select2 css -->
<link href="{%  static '/ui/plugins/select2/css/select2.min.css'  %}"
	rel="stylesheet" type="text/css" />
<link
	href="{%  static '/ui/plugins/select2/css/select2-bootstrap.min.css'  %}"
	rel="stylesheet" type="text/css" />
<!-- date timepicker css -->
<link
	href="{%  static '/ui/plugins/date-picker-mobile/css/date-picker-mobile.css' %}"
	rel="stylesheet" type="text/css" />
<link
	href="{%  static '/ui/plugins/time-picker-mobile/css/time-picker-mobile.css' %}"
	rel="stylesheet" type="text/css" />
<!-- dev css -->
<link href="{%  static '/dev/hrms_foundation/css/dev_custom.css'  %}"
	rel="stylesheet" type="text/css" />
<!-- Multiple Select with Grouped  -->
<link
	href="{%  static '/ui/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"
	rel="stylesheet" type="text/css" />
<!-- File Upload -->
<link
	href="{% static '/ui/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css' %}"
	rel="stylesheet" type="text/css" />
<!-- calendar css -->
<link href="{%  static '/ui/plugins/calendar/dist/equinox.css'  %}"
	rel="stylesheet" type="text/css" />
<!-- Talent Acquisition css -->
<link href="{% static '/ui/css/talent_acquisition.css' %}"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="{% static '/ui/css/default/jquery-ui.css' %}" type="text/css" />
{% endblock %}
<!-- css start -->

<!-- body start -->
{% block content %} {% nav_tags breadcrum_title="employeeSelfProcess" %}
<div id="menuOverlay" class="backgroundfix RS-data animated">
	<div class="page-container" id="maincontent">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="row eqheight">
					<div class="col-md-12 ">
						<div class="portlet light bordered datatable_view">
							<div class="">
								<div class="portlet-title">
									<div class="caption">
										<h1 class="caption-subject  bold uppercase">Process
											Training</h1>

									</div>
								</div>
								<div action="#" id="formwizardShift" method="POST"
									class="talent_acquisition_wrapper">
									<div class="form-wizard  ">
										<div id="tab_formwizard" class="form-body">
											<ul class="nav nav-pills nav-justified steps">
												<li class="tab_item_menu_custom"><a class="step"
													href="#ld-tab1" id="ld_tab1" data-toggle="tab"
													aria-expanded="true" onclick="tabClick({'approval_status':''},1)">
														<div class="tab_item activetab">
															<i class="nf nf-leave-request"></i> <span
																id="ld_request" class="activecount">0</span>
														</div> <span class="spantext">Request Details</span>

												</a></li>
												<li class="tab_item_menu "><a class="step" href="#ld-tab2"
													id="ld_tab2" data-toggle="tab" aria-expanded="true" onclick="tabClick({},2)">
														<div class="tab_item">
															<i class="nf nf-leave-approved"></i> <span
																id="ld_depapproval" class="activecount">0</span>
														</div> <span class="spantext">Manager/Team Lead</span>

												</a></li>
												<!-- <li class="tab_item_menu"><a class="step" href="#tab3"
													id="tab3" data-toggle="tab" aria-expanded="true">

														<div class="tab_item">
															<i class="nf nf-approve"></i> <span id="sp_hhrapproval"
																class="activecount">0</span>
														</div> <span class="spantext">HR/Manager Head</span>

												</a></li> -->
												<li class="tab_item_menu tab_menu_active"><a
													class="step" href="#ld-tab4" id="ld_tab4" data-toggle="tab"
													aria-expanded="true" onclick="tabClick({'approval_status':'A'},4)">
														<div class="tab_item">

															<i class="nf nf-logout"></i> <span id="ld_approved"
																class="activecount">0</span>

														</div> <span class="spantext">Request Approved Details</span>
												</a></li>
												<li class="tab_item_menu tab_menu_active"><a
													class="step" href="#ld-tab5" id="ld_tab5" data-toggle="tab"
													aria-expanded="true" onclick="tabClick({'approval_status':'R'},5)">
														<div class="tab_item ">

															<i class="nf nf-telegram"></i> <span id="ld_rejected"
																class="activecount">0</span>

														</div> <span class="spantext">Request Rejected Details</span>
												</a></li>
											</ul>

										</div>
									</div>
									<!-- tab1 -->
									<div class="tab-content">
										<div class="tab-pane" id="ld-tab1">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="portlet bordered">
														<div class="portlet-title">
															<div class="caption">
																<h2 class="caption-subject  bold uppercase">
																	Request</h2>
															</div>

														</div>
														<div class="portlet-body form">

															<div class="row" id='ld_process_list_view'>

																<div class="col-md-12" id="process_training_list_db_tb1">
																	<div class="col-sm-12"
																		id="process_training_list_db_tb_search_1">
																		<div class="col-sm-3"
																			style="float: right; margin-bottom: 15px; margin-top: -50px;"
																			id="ld_request" data="1">
																			<input class="form-control"
																				placeholder="Search by Training Name"
																				id="training_name_1" type="text" onkeyup="inputSearch(this)">
																		</div>
																	</div>
																	<div id="no_data_found_1" style="display:none">
																		 
																	</div>
																</div>
																<div class="col-md-4 tabitem_right"
																	id="process_training_tb1" style="display: none;">
																	<div class="portlet bordered">
																		<div class="portlet-title">
																			<div class="caption">
																				<h2 class="caption-subject  bold uppercase">
																					Request Details</h2>
																			</div>

																			<i data-toggle="tooltip" data-placement="top"
																				title="" class="fa fa-times float-right margintop5"
																				style="float: right; cursor: pointer;"
																				id="process_training_close_tb1"
																				data-original-title="Close" onclick="closeDiv(1)"></i>
																		</div>
																		<div class="portlet-body">
																			<div class="row">
																				<div
																					class="col-md-12 col-sm-12  job_requisitions_content"
																					id='process_training_content_tb1'>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
														</div>
													</div>

												</div>
											</div>

										</div>

									</div>
									<!-- tab2 -->
									<div class="tab-content">
										<div class="tab-pane" id="ld-tab2">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="portlet bordered">
														<div class="portlet-title">
															<div class="caption">
																<h2 class="caption-subject  bold uppercase">Department
																	Approval</h2>
															</div>
														</div>
														<div class="portlet-body form">
															<div class="row">
																<div class="col-md-12" id="process_training_list_db_tb2">
																	<div class="col-sm-12"
																		id="process_training_list_db_tb_search_1">
																		<div class="col-sm-3"
																				style="float: right; margin-bottom: 15px; margin-top: -50px;"
																				id="ld_department_approval" data="2">
																				<input class="form-control"
																					placeholder="Search by Training Name"
																					id="training_name_2" type="text" onkeyup="inputSearch(this)">
																		</div>
																	</div>
																	<div id="no_data_found_2" style="display:none">
																	</div>
																</div>
																
																<div class="col-md-4 tabitem_right"
																	id="process_training_tb2" style="display: none;">
																	<div class="portlet bordered">
																		<div class="portlet-title">
																			<div class="caption">
																				<h2 class="caption-subject  bold uppercase">
																					Department Approval Details</h2>
																			</div>

																			<i data-toggle="tooltip" data-placement="top"
																				title="" class="fa fa-times float-right margintop5"
																				style="float: right; cursor: pointer;"
																				id="process_training_close_tb2"
																				data-original-title="Close" onclick="closeDiv(2)"></i>
																		</div>
																		<div class="portlet-body">
																			<div class="row" id="departmentApprovalForm">
																				<div class="col-md-12 col-sm-12"
																					id="departmentApproval">
																					<form role="form" id='ld_department_submit'>
																						{% csrf_token %}
																						<div class="col-md-6 padding-0">
																							<div class="form-group">
																								<div class="mt-checkbox-inline"
																									style="padding: 0;">
																									<label class="label-cbx"> Approve <input
																										id="dep_approved_by" value="A"
																										class="invisible" name="dep_approval_status"
																										type="checkbox" data-error=".errorTxt0">
																										<div class="checkbox margin-checkbox">
																											<svg width="20px" height="20px"
																												viewBox="0 0 20 20">
																												<path
																													d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
																													<polyline points="4 11 8 15 16 6"></polyline>
																											</svg>
																										</div>
																									</label>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-6 padding-0">
																							<div class="form-group">
																								<div class="mt-checkbox-inline"
																									style="padding: 0;">
																									<label class="label-cbx"> Reject <input
																										id="dep_rejected_by" value="R"
																										class="invisible" name="dep_approval_status"
																										type="checkbox" data-error=".errorTxt0">
																										<div class="checkbox margin-checkbox">
																											<svg width="20px" height="20px"
																												viewBox="0 0 20 20">
																												<path
																													d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
																												<polyline points="4 11 8 15 16 6"></polyline>
																											</svg>
																										</div>

																									</label>
																								</div>
																							</div>
																						</div>
																						<span class="errorTxt0 errorTxts errormessage"></span>
																						<div id="reasonRejection" class="col-md-12 padding-0 depApproval" style="display:none">
																							<div class="form-group">
																								<label for="single"
																									class="control-label black_font">Reason
																									for Rejection <small>(within 60 characters)</small><span class="asterisk"> *</span>
																								</label>
																								<div class="input-icon">
																									<i class="nf nf-training"></i> <input
																										type="text" id="LDrejectreason"  maxlength="60"
																										name="LDrejectreason" class="form-control"
																										placeholder="Reason for Rejection"
																										data-error=".errorTxt1">
																								</div>
																								<span class="errorTxt1 errorTxts errormessage"></span>
																							</div>
																						</div>
																						<div class="col-md-12 padding-0">
																							<div class="form-group" align="right" id="departmentFormButton">
																								
																							</div>
																						</div>
																					</form>
																				</div>
																			</div>
																			<div
																				class="col-md-12 col-sm-12  job_requisitions_content"
																				id='process_training_content_tb2' style="display:none"></div>
																		</div>
																		<div class="row float-right" id="managerFormDetailView">
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<!-- tab3 -->
									<!-- 									<div class="tab-content">
										<div class="tab-pane" id="ld-tab3">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="portlet bordered">
														<div class="portlet-title">
															<div class="caption">
																<h2 class="caption-subject  bold uppercase">HR
																	Approval</h2>
															</div>
														</div>
														<div class="portlet-body form">
															<div class="row">
																<div class="col-md-12" id="process_training_list_db_tb3">
																</div>
																<div class="col-md-4 tabitem_right" id="process_training_tb3"
																	style="display: none;">
																	<div class="portlet bordered">
																		<div class="portlet-title">
																			<div class="caption">
																				<h2 class="caption-subject  bold uppercase">HR
																					Approval Details</h2>
																			</div>

																			<i data-toggle="tooltip" data-placement="top"
																				title="" class="fa fa-times float-right margintop5"
																				style="float: right; cursor: pointer;"
																				id="process_training_close_tb3"
																				data-original-title="Close"></i>
																		</div>
																		<div class="portlet-body">
																			<div class="row">
																				<div class="col-md-12 col-sm-12" id="hrApproval">
																					<form role="form" id='hr_submit'>
																						{% csrf_token %}
																						<div class="col-md-6 padding-0">
																							<div class="form-group">
																								<div class="mt-checkbox-inline"
																									style="padding: 0;">
																									<label class="label-cbx"> Approved <input
																										id="hr_approved_by" value="hr_approved_by"
																										class="invisible" name="hr_approved_by"
																										type="checkbox">
																										<div class="checkbox margin-checkbox">
																											<svg width="20px" height="20px"
																												viewBox="0 0 20 20">
																		<path
																													d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
																		<polyline points="4 11 8 15 16 6"></polyline>
																		</svg>
																										</div>

																									</label>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-6 padding-0">
																							<div class="form-group">
																								<div class="mt-checkbox-inline"
																									style="padding: 0;">
																									<label class="label-cbx"> Rejected <input
																										id="hr_rejected_by" value="hr_rejected_by"
																										class="invisible" name="hr_rejected_by"
																										type="checkbox">
																										<div class="checkbox margin-checkbox">
																											<svg width="20px" height="20px"
																												viewBox="0 0 20 20">
																		<path
																													d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
																		<polyline points="4 11 8 15 16 6"></polyline>
																		</svg>
																										</div>

																									</label>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-12 padding-0 ">
																							<div class="form-group">
																								<label for="single"
																									class="control-label black_font">Change
																									by <span class="asterisk"> *</span>
																								</label> <select id="hr_approved_id"
																									name="hr_approved_id" data-error=".errorTxt3"
																									class="form-control select2 select2-hidden-accessible"
																									tabindex="-1" aria-hidden="true">
																									<option value="0">--Select Change by--</option>
																									{% for i in employee_list %}
																									<option value="{{ i.id }}">{{
																										i.emp_name }}</option> {% endfor %}
																								</select> <span class="errorTxt3 errorTxts errormessage"></span>
																							</div>
																						</div>
																						<div class="col-md-12 padding-0 ">
																							<div class="form-group">
																								<label for="single"
																									class="control-label black_font">Changed
																									Role <span class="asterisk"> *</span>
																								</label> <select id="hr_change_role_id"
																									name="hr_change_role_id"
																									data-error=".errorTxt5"
																									class="form-control select2 select2-hidden-accessible"
																									tabindex="-1" aria-hidden="true">
																									<option value="0">--Select Change
																										Role--</option> {% for i in role_list %}
																									<option value="{{ i.id }}">{{ i.name
																										}}</option> {% endfor %}
																								</select> <span class="errorTxt5 errorTxts errormessage"></span>
																							</div>
																						</div>
																						<div class="col-md-12 padding-0 ">
																							<div class="form-group">
																								<label> Remarks <span class="asterisk">
																										*</span></label>
																								<div class="input-icon">
																									<i class="nf nf-customer"></i>
																									<textarea class="form-control" id="hr_remarks"
																										name="hr_remarks" placeholder="Remarks"
																										rows="2" data-error=".errorTxt4"
																										maxlength="150"></textarea>
																									<span class="errorTxt4 errorTxts errormessage"></span>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-12 padding-0">
																							<div class="form-group" align="right">
																								<button type="button" onclick="hrUpdate()"
																									class="btn-animate btn-eql-wid  btn btn-success">Update</button>
																								<button type="button" onclick="hrClear()"
																									class="btn-animate btn-eql-wid  btn btn-warning">Clear</button>
																							</div>
																						</div>
																					</form>
																				</div>
																				<div
																					class="col-md-12 col-sm-12  job_requisitions_content"
																					id='process_training_content_tb3'></div>
																			</div>
																			<div class="row float-right">
																				<div class="em_hide_show" id='hr_details_btn_view'
																					onclick='hrDetailView()' data-toggle="tooltip"
																					data-placement="left" title="Detail View">
																					<i class="nf nf-bank-details exitIcons"></i>
																				</div>
																				<div class="em_hide_show" id='hr_form_btn_view'
																					onclick='hrFormView()' data-toggle="tooltip"
																					data-placement="left" title="Form View">
																					<i class="nf nf-apparisal-form exitIcons"></i>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div> -->
									<!-- tab4 -->
									<div class="tab-content">
										<div class="tab-pane" id="ld-tab4">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="portlet bordered">
														<div class="portlet-title">
															<div class="caption">
																<h2 class="caption-subject  bold uppercase">Request
																	Approved</h2>
															</div>
														</div>
														<div class="portlet-body form">
															<div class="row">
																<div class="col-md-12" id="process_training_list_db_tb4">
																	<div class="col-sm-12"
																		id="process_training_list_db_tb_search_4">
																		<div class="col-sm-3"
																			style="float: right; margin-bottom: 15px; margin-top: -50px;"
																			id="sp_reject" data="4">
																			<input class="form-control"
																				placeholder="Search by Training Name"
																				id="training_name_4" type="text" onkeyup="inputSearch(this)">
																		</div>
																	</div>
																		<div id="no_data_found_4" style="display:none">
																		 
																		</div>
																</div>
																<div class="col-md-4 tabitem_right"
																	id="process_training_tb4" style="display: none;">
																	<div class="portlet bordered">
																		<div class="portlet-title">
																			<div class="caption">
																				<h2 class="caption-subject  bold uppercase">
																					Request Approved Details</h2>
																			</div>

																			<i data-toggle="tooltip" data-placement="top"
																				title="" class="fa fa-times float-right margintop5"
																				style="float: right; cursor: pointer;"
																				id="process_training_close_tb4"
																				data-original-title="Close" onclick="closeDiv(4)"></i>
																		</div>
																		<div class="portlet-body">
																			<div class="row">
																				<div
																					class="col-md-12 col-sm-12  job_requisitions_content"
																					id='process_training_content_tb4'>
																					<!-- <h2>Training Name</h2>
																					<p>ABEL ONESI</p>
																					<h2>Training Type</h2>
																					<p>DEPARTMENT OF WORKS</p>
																					<h2>Training Date</h2>
																					<p>Southern Region</p>
																					<h2>Manager Name</h2>
																					<p>Provincial Works Office - Milne Bay</p>
																					<h2>Reason for training</h2>
																					<p>12-09-2018</p>
																					<div id="readmore1" class="readMore"
																						style="display: none">
																						<h2>Training Status</h2>
																						<p>Approved</p>
																					</div>
																					<a href="#readmore1"
																						class="readMore1 readMoreClass">Read More</a> -->
																				</div>	
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
									<!-- tab5 -->
									<div class="tab-content">
										<div class="tab-pane" id="ld-tab5">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="portlet bordered">
														<div class="portlet-title">
															<div class="caption">
																<h2 class="caption-subject  bold uppercase">Request
																	Rejected</h2>
															</div>
														</div>
														<div class="portlet-body form">
															<div class="row">
																<div class="col-md-12" id="process_training_list_db_tb5">
																	<div class="col-sm-12"
																		id="process_training_list_db_tb_search_5">
																			<div class="col-sm-3"
																			style="float: right; margin-bottom: 15px; margin-top: -50px;"
																			id="sp_reject" data="5">
																			<input class="form-control"
																				placeholder="Search by Training Name"
																				id="training_name_5" type="text" onkeyup="inputSearch(this)">
																			</div>
																		</div>
																	<div id="no_data_found_5" style="display:none">
																		 
																	</div>
																</div>
																<div class="col-md-4 tabitem_right"
																	id="process_training_tb5" style="display: none;">
																	<div class="portlet bordered">
																		<div class="portlet-title">
																			<div class="caption">
																				<h2 class="caption-subject  bold uppercase">
																					Request Rejected Details</h2>
																			</div>

																			<i data-toggle="tooltip" data-placement="top"
																				title="" class="fa fa-times float-right margintop5"
																				style="float: right; cursor: pointer;"
																				id="process_training_close_tb5"
																				data-original-title="Close" onclick="closeDiv(5)"></i>
																		</div>
																		<div class="portlet-body">
																			<div class="row">
																				<div
																					class="col-md-12 col-sm-12  job_requisitions_content"
																					id='process_training_content_tb5'>
																					<!-- <h2>Training Name</h2>
																					<p>ABEL ONESI</p>
																					<h2>Training Type</h2>
																					<p>DEPARTMENT OF WORKS</p>
																					<h2>Training Date</h2>
																					<p>Southern Region</p>
																					<h2>Manager Name</h2>
																					<p>Provincial Works Office - Milne Bay</p>
																					<h2>Reason for training</h2>
																					<p>12-09-2018</p>
																					<div id="readmore1" class="readMore"
																						style="display: none">
																						<h2>Training Status</h2>
																						<p>Not Approved</p>
																						<h2>Reason for Rejection</h2>
																						<p>Rejection Info</p>
																					</div>
																					<a href="#readmore1"
																						class="readMore1 readMoreClass">Read More</a> -->	
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- {% include 'logger.html' %} -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
<!-- body end -->

<!-- script start -->
{% block scripts %}
<!-- select2 js -->
<script
	src="{% static  '/ui/plugins/select2/js/select2.full.min.js'  %}"
	type="text/javascript"></script>
<script src="{% static  '/ui/plugins/select2/js/select2.min.js'  %}"
	type="text/javascript"></script>
<script
	src="{% static  '/ui/plugins/select2/js/components-select2.min.js'  %}"
	type="text/javascript"></script>
<!-- date timepicker js -->
<script
	src="{%  static '/ui/plugins/date-picker-mobile/js/date-picker-mobile.js'  %}"
	type="text/javascript"></script>
<!-- file input js -->
<script
	src="{% static  '/ui/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js' %}"
	type="text/javascript"></script>
<!-- multiselect group js -->
<script
	src="{%  static '/ui/plugins/bootstrap-multiselect/js/components-bootstrap-multiselect.min.js'  %}"
	type="text/javascript"></script>
<script
	src="{%  static '/ui/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js'  %}"
	type="text/javascript"></script>
<!-- dev js -->
<script src="{% static  '/dev/lib/js/datatable_lib.min.js' %}"
	type="text/javascript"></script>
<!-- calendar js -->
<script src="{%  static '/ui/plugins/calendar/dist/moment.min.js'  %}"></script>
<script src="{%  static '/ui/plugins/calendar/dist/equinox.min.js'  %}"
	type="text/javascript"></script>
<!-- layout form wizard -->
<script
	src="{% static  '/dev/exit_management/js/lib/em_layout_formwizard.js'  %}"></script>
 <script
	src="{% static '/dev/learning_management/js/process_training.js'  %}"
	type="text/javascript"></script> 
{% endblock %}
<!-- script end -->
