{% extends 'base.html' %} {% load base_tags %} {% load staticfiles %} {%block links %}
<!-- select2 css -->
<link href="{%  static '/ui/plugins/select2/css/select2.min.css'  %}"
	rel="stylesheet" type="text/css" />
<link
	href="{%  static '/ui/plugins/select2/css/select2-bootstrap.min.css'  %}"
	rel="stylesheet" type="text/css" />
<link
	href="{% static '/ui/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css' %}"
	rel="stylesheet" type="text/css" />
<link
	href="{%  static '/ui/plugins/date-picker-mobile/css/date-picker-mobile.css' %}"
	rel="stylesheet" type="text/css" />
<link
	href="{%  static '/ui/plugins/time-picker-mobile/css/time-picker-mobile.css' %}"
	rel="stylesheet" type="text/css" />
<link href="{%  static '/dev/hrms_foundation/css/dev_custom.css'  %}"
	rel="stylesheet" type="text/css" />
<link href="{% static '/ui/css/talent_acquisition.css' %}"
	rel="stylesheet" type="text/css" />
<link
	href="{% static '/dev/learning_management/css/learning_management.css' %}"
	rel="stylesheet" type="text/css" />
<link
	href="assets/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css"
	rel="stylesheet" type="text/css" />
{% endblock %} {% block content %} {% nav_tags breadcrum_title="LDTraining_creation" %}
<!-- BEGIN CONTAINER -->
<div id="menuOverlay" class="backgroundfix RS-data animated">
	<div class="page-container" id="maincontent">
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				<div class="row eqheight">
					<div class="col-md-8" id='ta_open_main_div1'
						style="transition: all 600ms cubic-bezier(0.645, 0.575, 0.090, 1.000);">
						<!-- BEGIN SAMPLE FORM PORTLET-->
						<div class="portlet light bordered datatable_view">
							<div class="portlet-title">
								<div class="caption">
									<span class="caption-subject bold uppercase">Training
										Creation</span>
								</div>
								<div class="col-md-1 caption blink_class">
									<span
										class="ta_nav caption-subject animated flash infinite bold uppercase"
										id='left' data-toggle="tooltip" data-placement="bottom"
										title="Training Details View"><i
										class="nf nf-angle-left"></i></span> <span
										class="ta_nav caption-subject animated flash infinite bold uppercase"
										id='right' data-toggle="tooltip" data-placement="bottom"
										title="Training Form View"><i class="nf nf-angle-right"></i></span>
								</div>
							</div>
							<div class="portlet-body form">
								<form role="form" id='training_creation_form'>
									{% csrf_token %}
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="single" class="control-label black_font">
													Organization <span class="asterisk"> *</span>
												</label> <select id="organization" name="organization" required
													data-error=".errorTxt6"
													class="form-control select2 select2-hidden-accessible"
													tabindex="-1" aria-hidden="true">
													<option value="0">--Select--</option> {% for i in organization %}
													<option value="{{ i.id }}">{{i.name}}</option> {% endfor %}
												</select> <span class="errorTxt6 errormessage"></span>
											</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="form-group">
													<label for="single" class="control-label black_font">
														Organization Unit<span class="asterisk"> *</span>
													</label> <select id="org_unit" name="org_unit" required
														data-error=".errorTxt7"
														class="form-control select2 select2-hidden-accessible"
														tabindex="-1" aria-hidden="true">
														<option value="0">--Select--</option>
													</select> <span class="errorTxt7 errormessage"></span>
												</div>
											</div>
											</div>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label>Division<span class="required">*</span></label> <i
													class="fa"></i><select id="division" name="division"
													class="form-control select2-multiple" multiple
													data-error=".errorTxt8" data-placeholder="Division">
												</select> <span class="errorTxt8 errormessage" id="error"> </span>
											</div>
											</div>
											<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label class="control-label ">Training Name <small>(Within 75 characters)</small><span
													class="required">*</span></label> <input type="text" maxlength="75"
													id="training_name" name="training_name" 
													class="form-control trainingname"
													placeholder="Training Name" data-error=".errorTxt0">
												<span class="errorTxt0 errormessage"> </span>
											</div>
											</div>
											</div>
											<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label>Description </label>
												<textarea class="form-control" id="description"
													name="description" placeholder="Training Description"
													rows="1" data-error=".errorTxt1" maxlength="200"></textarea>
												<span class="errorTxt1 errormessage"></span>
											</div>
											</div>
											<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label class="control-label">Training Category<span
													class="required">*</span></label> <select id="training_category"
													name="training_category" class="form-control select2"
													data-error=".errorTxt13">
													<option value="0">--Select--</option> {% for i in training_category_data %}
													<option value="{{ i.id }}">{{i.refitems_name}}</option> {% endfor %}
												</select><span class="errorTxt13 errormessage" id="error_message">
												</span>
											</div>
											</div>
											</div>
											<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label class="control-label">Training Type<span
													class="required">*</span></label> <select id="training_type"
													name="training_type" class="form-control select2"
													data-error=".errorTxt2">
													<option value="0">--Select--</option> {% for i in training_type_data %}
													<option value="{{ i.id }}">{{i.refitems_name}}</option> {%endfor %}
												</select><span class="errorTxt2 errormessage" id="error_message">
												</span>
											</div>
											</div>
											<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label class="control-label">Training Methodology<span
													class="required">*</span></label> <select id="training_method"
													name="training_method" class="form-control select2"
													data-error=".errorTxt3">
													<option value="0">--Select--</option> {% for i in training_method_data %}
													<option value="{{ i.id }}">{{i.refitems_name}}</option> {% endfor %}
												</select><span class="errorTxt3 errormessage" id="error_message">
												</span>
											</div>
											</div>
											</div>
											<div class="row">
										<div class="col-md-6 col-sm-12">
										<div class="col-md-6">
												<div class="form-group">
													<label for="single" class="control-label black_font">
														Start Date <span class="asterisk"> *</span>
													</label>
													<div class="input-icon">
														<i class="fa fa-calendar cicon"></i> <span
															style="cursor: text" placeholder="Set the Start Date"
															id="start_date_span" data-field="date"
															class="form-control datetime"
															onchange="DatePickerUpdate(this)"
															class="form-control datetime test-span"
															contentEditable="false" data-text="Set the Start Date"></span>
														<input
															class="form-control form-control-inline date_input_class "
															name="training_start_date"
															placeholder="Set the Start Time"
															onchange="DatePickerInputUpdate(this)"
															id="training_start_date" type="hidden" readonly
															data-error=".errorTxt4">
														<div id="start_date"></div>
														<span class="errorTxt4 errormessage" id="error_message"></span>
													</div>


												</div>
											</div>
												<div class="col-md-6">
												<div class="form-group">
													<label for="single" class="control-label black_font">
														End Date <span class="asterisk"> *</span>
													</label>
													<div class="input-icon">
														<i class="fa fa-calendar cicon"></i> <span
															style="cursor: text" placeholder="Set the End Date"
															id="training_end_date_span" data-field="date"
															class="form-control datetime"
															onchange="DatePickerUpdate(this)"
															class="form-control datetime test-span"
															contentEditable="false" data-text="Set the End Date"></span>
														<input
															class="form-control form-control-inline date_input_class "
															name="training_end_date"
															placeholder="Set the End Date"
															onchange="DatePickerInputUpdate(this)"
															id="training_end_date" type="hidden" readonly
															data-error=".errorTxt5">
														<div id="end_date"></div>
														<span
														id="transfer_date_error" class="errorTxt5 errormessage"></span>
													</div>
												</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
											<div class="form-group">

												<label class="control-label">Training Document <small>(Acceptable File Formats are .doc, .docx, .pdf and Maximum file size limit is 2 MB )</small></label>
												<div class="clearfix"></div>
												<div class="fileinput fileinput-new"
													data-provides="fileinput">
													<div class="input-group">
														<div
															class="form-control uneditable-input input-medium input-fixed"
															data-trigger="fileinput">
															<i class="fa fa-file fileinput-exists"></i>&nbsp; <span
																class="fileinput-filename"> </span>
														</div>
														<span class="input-group-addon btn btn-success btn-file ">
															<span class="fileinput-new"> <i
																class="fa fa-upload"></i></span> <span class="fileinput-exists">
																Change </span> <input type="file" id="training_document"
															name="...">
														</span> <a href="javascript:;"
															class="input-group-addon btn btn-danger  fileinput-exists"
															data-dismiss="fileinput"> Remove </a>
													</div>
												</div>
												<div id="file_list1" class="filelist_view">


													<!--  <ul>
                        
                        <li>File name 1<i class="fa fa-close"></i></li>
                        <li>File name 2<i class="fa fa-close"></i></li>
                        </ul> -->

												</div>
											</div>
											</div>
											</div>
								</form>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12">
								<div class="form-group" align="right">
									<div class="" id="training_btn_div"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- list dev start -->
					<div class="col-md-4" id='ta_open_main_div2'
						style="display: none; transition: all 600ms cubic-bezier(0.645, 0.575, 0.090, 1.000);">
						<div class="portlet light bordered datatable_view">
							<div class="portlet-title">
								<div class="caption">
									<span class="caption-subject bold uppercase">Training
										Details </span>

								</div>

								<div class="col-sm-12">

									<div class="form-group">
										<label class="control-label"></label> <select
											id="training_data" name="training_data"
											class="form-control select2" data-error=".errorTxt4">
											<option value="0">Search by Training</option>
										</select>
									</div>

								</div>

								<!-- <div class="col-sm-12"> 
								
								
								</div> -->
							</div>
							<div class="portlet-body">
								<div class="row" id='exit_request_lv_320'>
									<div class="col-md-12 col-sm-12  job_requisitions_content"
										id='training_details_view'></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
	</div>
</div>
<!-- END CONTAINER -->
<!-- modal start here -->
<div id="documentView" class="modal1 modal fade" role="dialog"
	aria-labelledby="DocumentView" aria-hidden="true"
	style="display: none;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title">Document View</h4>
			</div>
			<div class="modal-body md-max-height">
				<div class="col-sm-12" id='targetDiv'></div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
<!--  modal end here -->
{% endblock %}
<!-- body content end  -->
{% block scripts %}
<script
	src="{% static  '/ui/plugins/select2/js/select2.full.min.js'  %}"
	type="text/javascript"></script>
<script src="{% static  '/ui/plugins/select2/js/select2.min.js'  %}"
	type="text/javascript"></script>
<script
	src="{% static  '/ui/plugins/select2/js/components-select2.min.js'  %}"
	type="text/javascript"></script>
<script
	src="{% static  '/ui/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js' %}"
	type="text/javascript"></script>
<script
	src="{%  static '/ui/plugins/date-picker-mobile/js/date-picker-mobile.js'  %}"
	type="text/javascript"></script>
<script
	src="{%  static '/dev/learning_management/js/document_upload.js'  %}"
	type="text/javascript"></script>

<script
	src="{%  static '/dev/learning_management/js/training_creation.js'  %}"
	type="text/javascript"></script>


<script>
	$("#start_date,#end_date").DateTimePicker({
		dateTimeFormat : "dd-mm-YYYY",
		 minDate: new Date(),		 
 	});
	
	$("#right").click(function() { 
		$('.blink_class').css({
			'float' : 'right',
			'margin-right' : '36px'
		});
		$('#left').css('display', 'block');
		$('#right').css('display', 'none');
		$('#ta_open_main_div1').addClass('col-md-12').removeClass('col-md-8');
		$('#ta_open_main_div2').removeClass('divActive');
	});

	$("#left").click(function() {
		$('.blink_class').css({
			'float' : 'right',
			'margin-right' : '-8px'
		});
		$('#left').css('display', 'none');
		$('#right').css('display', 'block');
		$('#ta_open_main_div1').addClass('col-md-8').removeClass('col-md-12');
		$('#ta_open_main_div2').addClass('divActive');
	});
	$('#right').trigger('click');
</script>

{% endblock %}
<!-- custom script end -->